body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
--sidebar-size: 250px;

--base-1:#333333;
--map-key-bc: #262626aa;
--base-2:#7c7c7c;
--accent1:#7c7c7c;
--accent2:#cf4520;

--text-colour:#efece7;
--title-colour: #efece7;
--search-text-colour: #efece7;
--sidenav-hover-text: #efece7;
}


/* The key */
.map-key-container{
  margin:10px;
  position: fixed;
  right: 0px;
  width: 150px;
  min-height: 30%;
  bottom: 10px;
  border-radius: 3px;
  padding: 10px;
  border: 2px solid var(--accent1);
  background-color: var(--map-key-bc);
  display: flex;
  flex-wrap: wrap;
  } 

/* have the key on the left */
/*
.map-key-container{
margin:15px;
position: absolute;
width: 150px;
min-height: 30%;
bottom: 0;
border-radius: 5px;
padding: 10px;
border: 2px solid var(--accent1);
background-color: rgba(255, 255, 255, 0.6);
} 
*/

.map-key-title{
width: 100%;
text-align: center;
color: var(--title-colour);
}

.map-key-item{
display: flex;
justify-content: space-between;
}

.map-key-item p{
margin:8px;
color: var(--text-colour);
}

/* Bootstrap for search */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.search-input {
width: auto;
margin-left: 33px;
margin-top: 10px;
margin-bottom: 10px;
background-color: transparent;
transition: transform 250ms ease-in-out;
font-size: 14px;
line-height: 18px;
color: var(--text-colour);
background-color: transparent;
background-repeat: no-repeat;
background-size: 18px 18px;
backface-visibility: hidden;
transform-style: preserve-3d;

padding: 12px 0;
outline: 0;
border: 1px solid transparent;
border-bottom: 1px solid var(--accent1);
border-radius: 0;
background-position: 100% center;
}

.search-input::placeholder {
color: var(--search-text-colour);
text-transform: uppercase;
letter-spacing: 1.5px;
}

.search-input:hover,
      .search-input:focus {
padding: 12px 0;
outline: 0;
border: 1px solid transparent;
border-bottom: 1px solid var(--accent1);
border-radius: 0;
background-position: 100% center;
}

/* Main section */
.main {
  width:100%;
  display: inline;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

/* Sidebar */
.sidenav {
height: 100%;
width: var(--sidebar-size);
position: fixed;
left: 0;
background-color: var(--base-1);
overflow-x: hidden;
overflow-y: scroll;
transition: 0.5s;
}

.sidenav-item {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: var(--text-colour);
display: flex;
transition: 0.3s;
border-bottom: 1px solid var(--accent1) !important;
justify-content: space-between;
}

.sidenav-item a {
text-decoration: none;
color: var(--title-colour);
}

.sidenav a:hover {
color: var(--sidenav-hover-text);
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* Collapsable Sidebar Button */
.sidebar-button{
  position: fixed;
  top: 50%;
  height: 55px;
  border:none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 25px;
  background-color: var(--base-1);
  color: var(--text-colour);
} 

#button {
visibility: hidden;
}

/* Header */
.header-item {
text-decoration: none;
}

header{
padding: 30px;
text-align: center;
background-color: var(--base-1);
color: var(--text-colour);
font-size: 25px;
display: flex;
flex-direction: row;
justify-content: space-between;
border-bottom: 1px solid var(--accent1) !important;
height: 40px;
}

/* Map */
.map-container {
  width:100%;
  height:100%;
}